body {
  background-color: beige;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
input[type="text"]:hover {
  border: 1px solid #aaa;
}

/* container */
label {
  position: relative; /* to contain absolute elements */
  padding-left: 30px; /* free space for custom checkbox */
  cursor: pointer;
}
/* hide default checkbox  */
label input[type="checkbox"] {
  position: absolute; /* prevent taking any space */
  /* cross-browser hidingg */
  opacity: 0;
  width: 0;
  height: 0;
}
/* custom checkbox */
label span {
  position: absolute;
  /* position to the free space in <label> */
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ddd;
  transition: 0.3s background-color; /* slight transition */
}
/* the check icon */
label span:after {
  content: "";
  position: absolute;
  display: none;

  /* check icon */
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
label:hover span {
  background-color: #ccc;
}

/**** Here's the trick ***/
label input:checked ~ span {
  background-color: #2eaadc;
}
label input:checked ~ span:after {
  display: block;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

button {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;
  /* usual styles */
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

button:hover {
  background-color: #6b75ac;
}

.container {
  width: 500px;
}
